<green>This Help screen is a list of keypresses that apply to the <yellow>Config menu<green>.

<white><<yellow>space<white>><green>   Leaves the <yellow>Config menu<green>
     <key>h/<key>?  Display this <yellow>Help<green> screen

     <key>a    Change address information
     <key>i    Change your personal profile information <yellow>(<green>put something nice here<yellow>)<green>
     <key>v    Add a piece of flair to your profile
     <key>d    Change <yellow>'<green>doing<yellow>'<green> field that shows up in the who list
     <key>r    Change reminder <yellow>;<green> the reminder is shown at login
     <key>x    Customize the header of eXpress Messages sent by you
     <key>y    Change default anonymous alias, when posting anonymously
     <key>p    Change your password
     <key>t    Change terminal settings, like colors on/off, etc
     <key>w    Customize how the Who list is displayed
     <key>o    Toggle various settings
     <key>q    Quicklist <yellow>(<green>for quick access keys <key>0-<key>9 at room level<yellow>)<green>
     <key>f    Friend list: Add and remove friends
     <key>e    Enemy list: Block users
     <key>z    Configure time

<white>Note:<green> You are not obliged to fill out your address information. Mind that
      you have no option of hiding it from specific people. When you fill
      it out, anyone can <hotkey>profile you on the room prompt and see your real
      name, home address, phone number, etc.
<red>
<center>THE MANAGEMENT OF THE SYSTEM IS NOT RESPONSIBLE FOR ANY
<center>MISUSE OF THIS PERSONAL INFORMATION.
<green>
      Please do not put 'funny' rubbish in the address fields.
 
