<green>This Help screen is a list of keypresses that apply to the <yellow>Config menu<green>.

<white><<yellow>space<white>><green>   Leaves the <yellow>Config menu<green>
     <hotkey>h/<hotkey>?  Display this <yellow>Help<green> screen

     <hotkey>a    Change address information
     <hotkey>d    Change <yellow>'<green>doing<yellow>'<green> field that shows up in the who list
     <hotkey>r    Change reminder <yellow>;<green> the reminder is shown at login
     <hotkey>i    Change your personal profile information <yellow>(<green>put something nice here<yellow>)<green>
     <hotkey>o    Change default anonymous alias, when posting anonymously
     <hotkey>p    Change your password
     <hotkey>t    Change terminal settings, like colors on/off, etc
     <hotkey>w    Customize how the Who list is displayed
     <hotkey>q    Quicklist <yellow>(<green>for quick access keys <hotkey>0-<hotkey>9 at room level<yellow>)<green>
     <hotkey>f    Friend list: Add and remove friends
     <hotkey>e    Enemy list:  Block users
     <hotkey>z    Configure time

<white>Note:<green> You are not obliged to fill out your address information. Mind that
      you have no option of hiding it from specific people. When you fill
      it out, anyone can <hotkey>profile you on the room prompt and see your real
      name, home address, phone number, etc.
<red>
<center>THE MANAGEMENT OF THE SYSTEM IS NOT RESPONSIBLE FOR ANY
<center>MISUSE OF THIS PERSONAL INFORMATION.
<green>
      Please do not put 'funny' rubbish in the address fields.
